/.phpunit.cache
/node_modules
/.fleet
/.idea
/.vscode
/.osp/

/public/hot
/public/storage
/public/assets
/public/vendor
/public_html/

/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

admin-http.http
http-client.env.json

composer-setup.php
